.container {
  width: 150px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  vertical-align: bottom;
}

.emoji {
  font-size: 4em;
  display: block;
}

.emoji:hover {
  opacity: 0.7;
  cursor: pointer;
}
